

.columnaMenu{
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    width: 14%;
    height: 100%;
    text-align: justify;
}

.columnaMain{
    padding: 5px;
    margin: 20px;
    float: left;
    width: 82%;
    text-align: justify;
    background-color: lightgray;
}

.columnaMainLeft{
    padding: 10px;
    margin: auto;
    float: left;
    width: 45%;
    text-align: justify;
}

.columnaMainRight{
    padding: 10px;
    margin: auto;
    float: right;
    width: 45%;
    align-content: center;
    text-align: justify;
}

div {
    margin: auto;
    display: block;
}
