

.columnaMenu{
    margin-top: 65px;
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    width: 14%;
    height: 100%;
    text-align: justify;
    position: fixed;
}

.columnaMain{

    padding: 5px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    width: 82%;
    text-align: justify;
    background-color: lightgray;
}

.columnaMainLeft{
    padding: 10px;
    margin: auto;
    float: left;
    width: 45%;
    text-align: justify;
}

.columnaMainRight{
    padding: 10px;
    margin: auto;
    float: right;
    width: 45%;
    align-content: center;
    text-align: justify;
}

.columnaPostLeft{
    padding: 10px;
    margin: auto;
    float: left;
    width: 66%;
    align-content: center;
    text-align: justify;
}

.columnaPostRight{
    padding: 10px;
    margin: auto;
    float: right;
    /*right: 1%;
    position: fixed;*/
    width: 33%;
    align-content: center;
    text-align: justify;
}

div {
    margin: auto;
    display: block;
}


.row-image{
    width: 18%;
    float: left;
    padding: 5px;
    margin: 5px !important;
    border-bottom: 20px !important;
}

.relaxing-pink{
    background-color: #edd1eb !important;
}
.relaxing-blue{
    background-color: #d1ebed !important;
}
.relaxing-orange{
    background-color: #edd3d1 !important;
}
.relaxing-green{
    background-color: #d1edd3 !important;
}
.relaxing-grey{
    background-color: #f4f7f6 !important;
}
.relaxing-red{
     background-color: #c5180a !important;
 }

