

.columnaMenu{
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    width: 14%;
    height: 100%;
    text-align: justify;
}

.columnaMain{
    padding: 5px;
    float: right;
    width: 85%;
    text-align: justify;
    background-color: grey;
}

.columnaMainLeft{
    padding: 10px;
    float: left;
    width: 35%;
    text-align: justify;
}

.columnaMainRight{
    padding: 10px;
    float: right;
    width: 35%;
    text-align: justify;
}

div {
    margin: auto;
    display: block;
}
